footer{
  text-align: center;
  padding: 1.5em $short;
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
  @include width-below ($medium-small-width){
    padding: 1em $short;
  }
}

#copyright-text{
  font-size: .75em;
  color: $blue;
}

.website-credit-text{
  font-size: .75em;
  color: $blue;
  & > a{
    color: $blue;
  }
}