.career-section{
  background: linear-gradient(125deg, #3320E3 0%, #3600A8 15%, #C13FBD 64%, #E55678 81%, #FF8E4F 100%);
  & > .extra-large-inner-wrap{
    padding-right: 0;
    padding-left: 0;
  }
  
  &:after{
    position: absolute; 
    top: 0; bottom: 0; left: 0; right: 0;
    content: "";
    background-image: url('../images/dark-noise.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
  }
}

.career-swiper{
  @include width-above ($medium-width){
    margin-top: -4em;  
    & .swiper-wrapper{
      padding: 5em 0 0;
    }
    & .swiper-slide-active{
      opacity: 1;
      margin-top: -5em;
    }
    
    & .swiper-slide-prev{
      opacity: .3;
      margin-top: 4em;
    }
    & .swiper-slide-next{
      opacity: .3;
    }
  }
  @include width-below ($medium-width){
    margin-top: $long;
  }
  & .has-image{
    position: relative;
    padding-right: 5em;
    @include width-below ($medium-large-width){
      padding-right: 0;
    }
  }
}

.swiper-container{
  padding: 0 2em 2em 2em;
  @include width-below ($medium-width){
    padding: 0 4em 0 4em;
  }
}

.swiper-slide {
  background: white;
  padding: $long $long $short $long;
  @include fast-transition-on-property (opacity, margin-top);
  @include width-above ($medium-width){
    min-height: 300px;
  }
}

.career-button-next{
  top: 13em;
  background-image: none !important;
  &:before{
    content: $icon-arrow;
    font-family: icomoon;
    color: white;
    font-size: 2.5em;
    display: block;
    right: 0;
    position: absolute;
    @include fast-transition-on-property(color);
    @include width-below ($medium-width){
      font-size: 1.5em;
    }
  }
  &:hover{
    &:before{
      color: $dark-purple;
    }
  }
}

.career-button-prev{
  top: 13em;
  background-image: none !important;
  &:before{
    content: $icon-arrow;
    font-family: icomoon;
    color: white;
    font-size: 2.5em;
    transform: rotate(180deg);
    display: block;
    left: 0;
    position: absolute;
    @include fast-transition-on-property(color);
    @include width-below ($medium-width){
      font-size: 1.5em;
    }
  }
  &:hover{
    &:before{
      color: $dark-purple;
    }
  }
}

.career-year{
  @include inconsolata;
  color: $blue;
  font-size: 1.25em;
  display: block;
}

.career-subtitle{
  @include inconsolata;
  padding-top: $shortest;
  font-size: .825em;
  color: $black;
  position: relative;
  margin-bottom: 3em;
  display: block;
  &:after{
    content: "";
    width: 3em;
    height: 2px;
    background: $light-purple;
    left: 0;
    bottom: -1em;
    position: absolute;
  }
}

.career-image{
  max-width: 4em;
  position: absolute;
  right: 0;
  bottom: 0;
  @include width-below ($medium-large-width){
    position: relative;
    display: block;
  }
}