.credits-section{
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
  padding-bottom: 0;
  & > .extra-large-inner-wrap{
    @include width-above ($medium-width){
      display: flex;  
    }
  }
}

.credits-text-area{
  @include width-above ($medium-width){
    width: 24%;
    display: inline-block;
    vertical-align: top;
  }
}

.credit-swiper{
  @include width-above ($medium-width){
    width: 75%;
    display: inline-block;
    margin-left: 4em !important;
  }
  margin-top: 2em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  & .swiper-slide{
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.credits-view-text{
  @include inconsolata;
  color: $black;
  margin-right: $short;
}

.credits-button-next{
  @include inconsolata;
  display: inline-block;
  color: $mid-gray;
  position: relative;
  &.swiper-button-disabled{
    border-bottom: 2px solid $dark-purple;
    color: $black;
    &:after{
      background: $dark-purple;
    }
  }
  &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: auto;
      bottom: -2px;
      left: 0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      background: $mid-gray;
    }
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
}

.credits-button-prev{
  @include inconsolata;
  display: inline-block;
  color: $mid-gray;
  margin-right: $long;
  position: relative;
  &.swiper-button-disabled{
    border-bottom: 2px solid $dark-purple;
    color: $black;
    &:after{
      background: $dark-purple;
    }
  }
  &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: auto;
      bottom: -2px;
      left: 0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      background: $mid-gray;
    }
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
}

.credits-list{
  columns: 3;
  column-gap: $long;
  @include width-below ($medium-large-width){
    columns: 2;
    column-gap: $long;
  }
  @include width-below ($medium-small-width){
    columns: 1;
  }
  & > li{
    margin-top: 1.5em;
    display: inline-block;
    @include width-below ($medium-small-width){
      display: block;
    }
  }
  & a{
    text-decoration: none;
  }
  & .small-bold-title{
    color: $blue;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: auto;
      bottom: -2px;
      left: 0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      background: $blue;
    }
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
  & .small-title{
    color: $blue;
  }
}

.grammy-image{
  max-width: 6em;
  position: absolute;
    right: 1.5em;
    top: -3em;
  @include width-below ($medium-width + 2em){
    max-width: 4em;
    top: -1em;
  }
}