.about-section{
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
  & > .extra-large-inner-wrap{
    @include width-above ($medium-width){
      display: flex;  
    }
  }
}

.about-text-area{
  max-width: 38em;
  margin-right: $longest;
  @include width-below ($medium-large-width){
      margin-right: $long;
    }
  @include width-below ($medium-width){
    margin-right: 0;
  }
  & p{
    @include paragraph-text;
  }
}

.medium-description{
  color: $blue;
  line-height: 1.6em;
  font-size: 1.1em;
}

.about-image-area{
  @include width-above ($medium-width){
    margin-top: -9em;
  }
}