.news-section{
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
  & > .extra-large-inner-wrap{
    @include width-above ($medium-width){
      display: flex;  
    }
    
  }
}

.image-caption{
  font-size: .825em;
  display: block;
  line-height: 1.5em;
}

.news-image-area{
  @include width-above ($medium-width){
    max-width: $medium-small-width;
  }
}

.news-text-area{
  @include width-above ($medium-width){
    max-width: $medium-small-width;
    padding-left: $long;
  }
  margin-top: $long;
}

.news-list{
  & > li{
    & + li{
      margin-top: 1.5em;
    }
  }
  & + .section-title{
    margin-top: 1.5em;
    &:before{
      height: 0;
    }
  }
}

.news-link{
  display: block;
  text-decoration: none;
  & > .paragraph-text{
    color: black;
    margin-top: 1em;
  }
  
}

.small-bold-title{
  @include main-link;
}

.small-title{
  display: block;
  margin-top: .25em;
  color: $light-purple;
  font-size: .925em;
  &.gray{
    color: $mid-gray;
  }
  & + .small-title{
    margin-top: $shorter;
  }
}