%large-checkable-field {
  display: none;
}

%large-checkable-field-label {
  position: relative;
  line-height: 1.1em;
  font-size: .9em;
}

%large-entry-field {
  padding: 1em .5em .75em .7em;
  border: 1px solid white;
  background: black;
  width: 100%;
  cursor: pointer;
-webkit-border-radius: 0;
  -webkit-appearance: none;
  @include fast-transition-on-property(border);
  color: $orange;
  @include inconsolata;
  font-size: 1.125em; 
  &:hover, &:focus{
    border: 1px solid $orange;
  }
}

%large-single-line-text-field {
  @extend %large-entry-field;
  outline: none;
  
}

%large-multi-line-text-field {
  @extend %large-entry-field;
  height: 9em;
  outline: none;
  padding-bottom: 1em;
  line-height: 1.4em;
}

.form-section{
  background: $black;
  & > .extra-large-inner-wrap{
    @include width-above ($medium-large-width){
      display: flex;
      justify-content: space-between;
    }
  }
}

.form-section-center-margin-wrap{
  max-width: $medium-width;
	display: inline-block;
	margin-top:$longer;
	padding-left: $longer;
	position: relative;
	@include width-below ($medium-large-width){
  	width: 100%;
  	padding-left: 0;
	}
}

.form-section-required-note {
  display: block;
  font-size: .8em;
}

.field-list {
  margin-left: -1em;
  margin-top: -1.5em;
  vertical-align: top;
  box-sizing: border-box;
  & > li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 1.3em;
    padding-left: 1em;
    &.half-width{
      width: 49.6%;
      @include width-below ($medium-small-width){
        width: 100%;
      }
    }
  }
}

.field-label {
  display: block;
  position: absolute; 
  top: 1.05em;
  left: 1.5em;
  padding-left: .5em;
  pointer-events: none;
  font-size: 1em;
  @include inconsolata;
  @include fast-transition-on-property (all);
  color: white;
  .is-active, .is-completed &{
    font-size: .8em;
    top: -.5em;
    left: 2em;
    background: black;
    padding: 0 .25em;
  }
  &.small-label{
    top: -.5em;
    left: .75em;
    &.error{
    }
  }
  .invalid > & {
  }
  .required > &:after {
    content: "*";
  }
  .fade &{
    cursor: default !important;
  }
}

.text-field {
  @extend %large-single-line-text-field;
    width: 100%;
    .fade &{
    cursor: default !important;
  }
.fade &{
    cursor: default !important;
  }
}

.message-field {
  @extend %large-multi-line-text-field;
  .fade &{
    cursor: default !important;
  }
  @include width-below ($small-width - 5em){
    padding-top: 2em;
  }
}

.form-action-list {
  margin-top: 1em;
  & > li {
    position: relative;
  }
}

.form-action-state {
  position: relative;
}

.form-action-button {
  background: none;
  border: none;
  font-size: 1.75em;
  margin-top: $shortest;
  @include fast-transition-on-property (all);
  position: relative;
  padding:0;
  @include inconsolata;
  color: $orange;
  &:hover{
    &:after{
      right: -2.25em;
    }
  }
  &:after{
    content: $icon-arrow;
    font-family: icomoon;
    font-size: .75em;
    right: -2em;
    top: .3em;
    position: absolute;
    @include fast-transition-on-property (right);
  }
  &.disabled{
    pointer-events: none;
  }
}

.form-action-validation-message {
  font-size: .75em;
  display: none;
  &.visible{
    display: block;
    position: absolute;
    top: 4em;
    right: 0;
    left: 0;
    text-align: center;
    color: $light-purple;
  }
}

input.error, textarea.error{
  border: 1px solid $light-purple;
  &:focus{
    
  }
}

@mixin form-message{
  display: none;
  &.visible{
    & .large-message{
      display:block;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: $shorter;
    }
    & .small-message{
      display: block;
      margin-top: .5em;
    }
    display:block;
    position:absolute;
    top:-1em;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background: $black;
    padding: 5em $shorter;
    & a{
      text-decoration: none;
      position: relative;
      color: $dark-gray;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 3px;
        left: 0;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }
      &:hover{
        &:after{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }  
}

.success-message{
  @include form-message;
  color: $orange;
}
      
.error-message{
  @include form-message;
  color: $light-purple;
}

.form-check-input-list{
  margin-top: $shorter;
  & > li{
    margin-top: 1em;
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    @include width-below ($medium-small-width){
      width: 100%;
      display: block;
    }
  }
  @include width-below ($medium-width){
      margin-top: 1.5em;
    }
}

.form-check-label{
  @extend %large-checkable-field-label;
}


[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✘';
  position: absolute;
  top: 1px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  transition: all .2s;
}

.category:not(:checked) + label:after,
.category:checked + label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0px;
  z-index: -1;
  left: 0;
  right: 0;
  top: auto;
  mix-blend-mode: multiply;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.form-close-button{
  display: block;
  width: 2em;
  text-align: center;
  margin: $long auto 0;
    transform: rotate(360deg);
    @include transition-slow;
  &:before{

    font-family: icomoon;
  }
  &:hover{
    transform: rotate(0deg);
  }
}

.contact-text-area{
  @include width-above ($medium-large-width){
    max-width: $medium-small-width;
  }
}


/*
.contact-title{
  font-size: 7em;
  position: relative;
  display: inline-block;
  background-image: linear-gradient(-215deg, #3320E3 0%, #3600A8 15%, #C13FBD 64%, #E55678 81%, #FF8E4F 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  &:after{
    content: "";
    background-image: url('../images/dark-noise.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  @include width-below ($medium-small-width){
    font-size: 5em;
  }
}
*/

.contact-image-title{
  padding-bottom: .5em;
}

.contact-image-title{
  &:after{
    content: "";
    background-image: url('../images/dark-noise.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.social-link-list{
  margin-top: $long;
  & > li{
    & + li{
      margin-top: $short;
    }
  }
}