$header-menu-icon-line-thickness: 2px;
$header-menu-icon-line-spacing: 6px;

@mixin header-menu-button-icon-line ( ) {
  height: $header-menu-icon-line-thickness;
  width: 1.75em;
}

@mixin header-menu-button-icon-generated-line ( ) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  transition-property: transform;
  transition-duration: $fast;
  @include header-menu-button-icon-line ( );
}

@mixin header-menu-button-icon-generated-lines-are (
  $background-color,
  $rotate,
  $translateY,
  $transition-timing-function
) {
  &:before {
    background-color: $background-color;
    transform: translateY( $translateY ) rotate( $rotate );
    transition-timing-function: $transition-timing-function;
  }
  &:after {
    background-color: $background-color;
    transform: translateY( -$translateY ) rotate( -$rotate );
    transition-timing-function: $transition-timing-function;
  }
}

@mixin header-menu-button-icon-generated-lines-are-x {
  @include header-menu-button-icon-generated-lines-are (
    $background-color: white,
    $rotate: 45deg,
    $translateY: 0,
    $transition-timing-function: ease-out
  );
}

@mixin header-menu-button-main-line {
  display: inline-block;
  background: white;
  vertical-align: middle;
  margin-left: $shortest;
  position: relative;
  @include header-menu-button-icon-line ( );
  &:before {
    @include header-menu-button-icon-generated-line ( );
  }
  &:after {
    @include header-menu-button-icon-generated-line ( );
  }
}

.header-menu-button {
  @include width-below ( $medium-large-width + 4em ) {
    position: absolute;
    top: 2em;
    right: 1em;
    background: transparent;
    border: none;
    padding: 0;
    white-space: nowrap;
    transition-property:  border-color, color, top ;
    transition-duration: $fast;
    z-index: 1;
    .menu-is-open & {
      transition-timing-function: ease-in;
    }
    .menu-is-closed & {
      transition-timing-function: ease-out;
    }
    .small &{
      top: .85em;
    }
  }
  
  @include width-above ( $medium-large-width + 4em ) {
    display: none;
  }
}

.header-menu-button-icon {
  @include header-menu-button-main-line;
  &:before{
    transform: translateY($header-menu-icon-line-thickness + $header-menu-icon-line-spacing);
    background: white;
  } 
  &:after{
    transform: translateY(-7px);
    background: white;
  }   
  .menu-is-closed & {
    @include header-menu-button-icon-generated-lines-are (
      $background-color: white,
      $rotate: 0deg,
      $translateY: $header-menu-icon-line-thickness + $header-menu-icon-line-spacing,
      $transition-timing-function: ease-in
    );
  }
  .menu-is-open & {
    background-color: transparent;
    @include header-menu-button-icon-generated-lines-are-x;
  }
}

.header-menu-expand-area {
  @include width-below ( $medium-large-width + 4em ) {
    text-align: center;
    background: black;
    display: none;
    padding: 1em;
    padding-top: $longest;
    overflow: scroll;
    position: fixed;
    top: 0;
    right:0; 
    left: 0;
    bottom: 0;
    .menu-is-open & {
      display: block;
      height: 100vh;
    }
    
    .menu-is-closed & {
      display: none;
    }
  }
  
  @include width-above ( $medium-large-width + 4em ) {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2000;
  }
}

header{
  background: $black;
  padding-top: $long;
  padding-bottom: $longer;
  position: relative;
  z-index: 10000;
  padding-right: 1em;
  padding-left: 1em;
}

.banner-section{
  background: $black;
  padding-top: 3em;
  padding-bottom: 4em;
  @include width-below ($small-width){
    padding-bottom: 2em;
    padding-top: 1em;
  }
}


h1{
  /*
font-size: 14em;
  position: relative;
  line-height: .9em;
  display: inline-block;
  background-image: linear-gradient(-215deg, #3320E3 0%, #3600A8 15%, #C13FBD 64%, #E55678 81%, #FF8E4F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  @include montserrat;
*/
  &:after{
    content: "";
    background-image: url('../images/dark-noise.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  padding-bottom: .75em;
  margin: 0;
  /*
& > .tightened{
    letter-spacing: -2px;
  }
  @include width-below ($large-width + 4em){
    font-size: 12em;
  }
  @include width-below ($medium-large-width + 4em + 2em){
    font-size: 8em;
  }
  @include width-below ($medium-width){
    font-size: 7em;
  }
  @include width-below ($medium-small-width){
    font-size: 4.75em;
  }
*/
max-width: 27em;
@include width-below ($small-width){
  max-width: 10em;
  padding-bottom: 0;
}
}

.main-nav{
  @include width-above ($medium-large-width + 4em){
    display: flex;
    justify-content: space-between;
  }
  position: fixed;
  top: 0em;
  right: 0;
  left: 0;
  z-index: 100000;
  background: $black;
  padding-top: 1.25em;
  padding-bottom: .75em;
  padding-right: 1em;
  padding-left: 1em;
  @include fast-transition-on-property (padding-top);
  .small &{
    padding-top: .75em;
  }
}

.home-link{
  font-size: 2.25em;
  color: white;
  text-decoration: none;
  @include raleway-bold;
  letter-spacing: 1px;
  line-height: 1em;
  @include fast-transition-on-property (font-size);
  .small &{
    font-size: 1.5em;
  }
}

.main-nav-link-list{
  padding-top: 1em;
  @include width-below ($medium-large-width + 4em){
    display: block;  
    text-align: left;
    padding-left: 10em;
  }
  & > li{
    display: inline-block;
    @include width-below ($medium-large-width + 4em){
        display: block;
      }
    & + li{
      padding-left: 3em;
      @include width-below ($medium-large-width + 4em){
        padding-left: 0;
        margin-top: $long;
      }
    }
  }
  .small &{
    padding-top: .3em;
    @include width-below ($medium-large-width + 4em){
      padding-top: .5em;
    }
  }
}

.main-nav-link{
  color: white;
  text-decoration: none;
  @include raleway-medium;
  letter-spacing: 1px;
  position: relative;
  font-size: .875em;
  @include width-below ($medium-large-width + 4em){
      font-size: 2em;
    }
  &:before{
    content: "";
    top: -3em;
    bottom: 0;
    left: -.75em;
    width: 2px;
    position: absolute;
    @include fast-transition-on-property (width);
    @include width-below ($medium-large-width + 4em){
      top: 0;
    }
  }
  &:hover{
    &:before{
      width: 4px;
    }
  }
  &.career{
    &:before{
      background: $dark-purple;
    }
  }
  &.credits{
    &:before{
      background: $light-purple;
    }
  }
  &.about{
    &:before{
      background: $blue;
    }
  }
  &.news{
    &:before{
      background: $pink;
    }
  }
  &.contact{
    &:before{
      background: $orange;
    }
  }
}

.subpage-title{
  color: $blue;
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: .2em;
  font-weight: bold;
  &:after{
    content: "";
    background-image: url('../images/dark-noise.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  padding-bottom: .75em;
  margin: 0;
}