.blog-listing-section{
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
}

.blog-detail-section{
  background-image: url('../images/light-noise.png');
  background-repeat: repeat;
}

.blog-detail-date{
  color: white;
  @include raleway-bold;
  font-size: 1.5em;
}

.blog-list-link{
  text-decoration: none;
  color: black;
  &:hover{
    & > .blog-title{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}

.blog-title{
  position: relative;
  color: $black;
  @include inconsolata;
  font-size: 1.75em;
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: auto;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    background: black;
  }
  &.detail{
    margin: 0;
    padding: 0;
  }
}

.blog-date{
  display: block;
  margin-top: $shorter;
  @include inconsolata;
  position: relative;
  &:after{
    content: "";
    width: 3em;
    height: 2px;
    background: $light-purple;
    left: 0;
    bottom: -1em;
    position: absolute;
  }
}

.blog-description{
  display: block;
  @include paragraph-text;
  margin-top: $long;
}

.blog-list{
  & > li{
    & + li{
      margin-top: $longer;
    }
  }
}

.pagination{
  margin-top: $longer;
  display: flex;
  justify-content: space-between;
  & > .main-link{
    color: $orange;
  }
}

.main-copy{
  margin-top: 3em;
  & p{
    @include paragraph-text;
    & a{
      color: $orange;
      &:after{
        background-color: $orange;
      }
    }
  }
  & a{
      color: $orange;
      &:after{
        background-color: $orange;
      }
    }
  & img{
    margin: $long auto;
    display: block;
  }
  & blockquote{
    color: $blue;
    @include inconsolata;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: $long 0;
  }
  & h2{
    color: $blue;
    font-size: 1.2em;
    margin-bottom: $shorter;
    & + p{
      margin-top: $shortest;
    }
  }
  & h3{
    color: $dark-purple;
    font-size: 1em;
    margin-bottom: $shorter;
  }
  & h4{
    color: $light-purple;
    font-size: 1em;
    margin-bottom: $shorter;
  }
  & h5{
    color: $blue;
    font-size: .9em;
    margin-bottom: $shorter;
  }
  & h6{
    color: $blue;
    font-size: .8em;
    margin-bottom: $shorter;
  }
  & ul,ol{
    margin: $long 0;
    padding: 0 0 0 $short;
    & > li{
      list-style-type: circle;
      line-height: 1.6em;
      & + li{
        margin-top: $short;
      }
    }
  }
  & ol{
    & > li{
      list-style-type: decimal;
      position: relative;
    }
  }
}

iframe{
  max-width: 100%;
  margin: $long auto;
}

table{
  background: white;
  margin: $long 0;
  border: 1px solid $mid-gray;
  & th{
    padding: $short;
    background: $blue;
    color: white;
    text-align: left;
  }
  & tbody{
    font-size: .825em;
  }
  & td{
    padding: $short;
    border-top: 1px solid $mid-gray;
  }
}