$fast: 0.1s;
$slow: .35s;

@mixin transition-fast {
  @include transition-duration ( $fast );
  @include transition-timing-function ( ease-in );
}

@mixin transition-slow {
  @include transition-duration ( $slow );
  @include transition-timing-function ( ease-in );
}

@mixin fast-transition-on-property ( $property... ) {
  @include transition-property ( $property );
  @include transition-fast;
}

@mixin slow-transition-on-property ( $property... ) {
  @include transition-property ( $property );
  @include transition-slow;
}