@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w5zslh');
  src:  url('../fonts/icomoon.eot?w5zslh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w5zslh') format('truetype'),
    url('../fonts/icomoon.woff?w5zslh') format('woff'),
    url('../fonts/icomoon.svg?w5zslh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-arrow: "\e900";

@mixin raleway{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

@mixin raleway-medium{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

@mixin raleway-bold{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

@mixin inconsolata{
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
}

@mixin montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.section-title{
  position: relative;
  display: inline-block;
  color: $black;
  @include inconsolata;
  font-size: 1.75em;
  &:before{
    content: "";
    height: 2px;
    background: $blue;
    position: absolute;
    top: -1em;
    left: -3.42em;
    width: 4.82em;
  }
  &.white{
    color: white;
    padding-left: 1em;
    &:before{
      background: white;
      left: -2.9em;
    }
  }
}

@mixin paragraph-text{
  font-size: .975em;
  line-height: 1.7em;
  display: block;
  margin-bottom: .85em;
  margin-top: 0;
  &.black{
    color: $black;
  }
  & a{
    color: $dark-purple;
    @include raleway-bold;
    text-decoration: none;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      background: $dark-purple;
    }
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
  &.white{
    color: white;
  }
}

.paragraph-text{
  @include paragraph-text;
}

@mixin main-link{
  display: inline-block;
  text-decoration: none;
  @include raleway-bold;
  position: relative;
  font-size: .925em;
  margin-right: 1.5em;
  &.blue{
    color: $blue;
    margin-left: 1em;
  }
  &.orange{
    color: $orange;
  }
  &.purple{
    color: $light-purple;
  }
  &:after{
    content: $icon-arrow;
    font-family: icomoon;
    font-size: .75em;
    right: -2em;
    top: .4em;
    position: absolute;
    @include fast-transition-on-property (right,left);
  }
  &.prev{
    margin-left: 1.5em;
    &:after{
      left: -2em;
      right: auto;
      transform: rotate(180deg);
    }
    &:hover{
      &:after{
        left: -2.25em;
        right: auto;
      }
    }
  }
  &:hover{
    &:after{
      right: -2.25em;
    }
  }
}

.main-link{
  @include main-link;
}