$length-scale-base: 1em;
$length-scale-ratio: 2;

$shortest: get-scaled-length-at( -2 );
$shorter: get-scaled-length-at( -1 );
$short: get-scaled-length-at( 0 );
$long: get-scaled-length-at( 1 );
$longer: get-scaled-length-at( 2 );
$longest: get-scaled-length-at( 3 );

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after{
  box-sizing: border-box;
}

button, a{
  &:focus{
    outline: none;
  }
}

body {
  margin: 0;
  font-size: 1em;
  @include width-below ($medium-width){
    font-size: .85em;
  }
}

.overflow-wrap {
  position: relative;
  overflow: hidden;
  color: $dark-gray;
  @include raleway;
}

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  max-width: $overflow-width;
  min-height: 100vh;
}

img{
  max-width: 100%;
  @include width-below ($medium-width){
    width: 100%;
  }
}

.image-with-border{
  position: relative;
  display: block;
  margin-bottom: $short;
  &:before{
    border: 2px solid $blue;
    position: absolute;
    top: 10px;
    left: -10px;
    bottom: -6px;
    right: 25px;
    content: "";
    z-index: -1;
  }
  &.right{
    &:before{
      top: 10px;
      left: 10px;
      bottom: -6px;
      right: -10px;
    }
  }
}

section{
  position: relative;
  padding-top: 6em;
  padding-bottom: 5em;
  @include width-below ($medium-small-width){
    padding-top: 4em;
    padding-bottom: 3em;
  }
}

@mixin large-center-margin-wrap{
  max-width: $large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

@mixin medium-center-margin-wrap{
  max-width: $medium-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

@mixin medium-small-center-margin-wrap{
  max-width: $medium-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

@mixin extra-large-center-margin-wrap{
  max-width: $extra-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.large-inner-wrap{
  @include large-center-margin-wrap;
}

.medium-inner-wrap{
  @include medium-center-margin-wrap;
}

.medium-small-inner-wrap{
  @include medium-small-center-margin-wrap;
}

.extra-large-inner-wrap{
  @include extra-large-center-margin-wrap;
}

::-moz-selection { 
  
}

::selection {

}